body{
    color: $primary-color-text;
}

.HomepageTabContent {
    display: flex;
    margin: 0px;
    margin-left: 100px;
    margin-right: 100px;
}

.categoriesMenu {
   width: 25%;
}

.banner{
    background-color: $white;
    opacity: 0.6;
    padding: 20px;
    height: 300px;
    text-align: center;
    color: $primary-color;
}

.banner h2 {
    font-size: 40px;
}

.banner p {
    margin-top: 50px;
    font-style: italic;
}

